[submodule "extern/dicom-interface"]
	path = extern/dicom-interface
	url = https://github.com/topasmc/dicom-interface
	branch = master
[submodule "extern/CLI11"]
	path = extern/CLI11
	url = https://github.com/CLIUtils/CLI11.git
	branch = master
